body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #ced4da;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}

textarea {
  height: 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  border-radius: 5px;
}

input {
  height: 24px;
  font-size: 20px;
  border-radius: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  background-color: #ff4181;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  padding: 10px 15px;
  border: #ff4181;
  border-radius: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav {
  height: 120px;
}

.navigation {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.5s;
  transition-delay: 0.5s;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.navigation.active {
  width: 600px;
}

.navigation .toggle-menu {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ff4181;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
  cursor: pointer;
}

.navigation.active .toggle-menu {
  background-color: #ff4181;
  transition-delay: 0s;
  transform: translateY(50px);
  width: 30px;
  height: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.navigation .toggle-menu::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #333;
  transform: translateY(-5px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation .toggle-menu::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: #333;
  transform: translateY(5px);
  transition: 0.5s;
  transition-delay: 0.5s;
}

.navigation.active .toggle-menu::before {
  background-color: #fff;
  transform: translateY(0px) rotate(45deg) scale(0.6);
}

.navigation.active .toggle-menu::after {
  background-color: #fff;
  transform: translateY(0px) rotate(315deg) scale(0.6);
}

.navigation li {
  list-style: none;
  transition: 0.5s;
  transform: scale(0);
}

.navigation.active li {
  transition-delay: 0.75s;
  display: flex;
  transform: scale(1);
}

.navigation li a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5s;
}

.navigation li a:hover {
  background-color: #ff4181;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-box {
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.recipe-content {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  height: 380px;
  overflow-y: hidden;
}

.recipe-container {
  max-width: 1000px;
  padding: 30px;
}

#logo-img {
  padding: 0;
  margin: 0;
}

.recipe-preparation-text {
  white-space: pre-line;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.form-fields {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.form-field-buttons {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-box {
  position: absolute;
  top: 39.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
}

.search-cooking-time {
  position: relative;
  top: 43%;
  left: 90%;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  line-height: 40px;
  width: 0px;

}

.recipe-image{
  width: 130px;
  object-fit: cover;
}